body {
  margin: 0;

  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.navbar {
  background-color: #008037;
  margin: 0;
}

#home-logo {
  height: 3em;
  padding: 0;
}

#intro-section {
  background-color: #7ed957;
}


#aboutUs {
  height: 40vh;
}

#donations {
  height: 40vh;
  background-color: #7ed957;
}

#leaderboard{
  height: 60vh;
}
#total {
color:#008037;
}
#hero-img {
  height: 60vh;
  max-height: 100%;
}
